extends layout

block layout-content
  main.flex-shrink-0
    .container.vh-100
      if message != ""
        .row
          .col-12
            .alert.alert-danger.alert-dismissible.fade.show(role="alert") <strong>Error:</strong> #{message}
              button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")  
      .row.align-items-center.justify-content-center
        .col-auto
          h1 Admin Page               
      .row.justify-content-center
        .col-auto
          h2 Users
      .row
        table.table.table-striped.table-hover
          thead
            tr
              th(scope="col") Username
              th(scope="col") Email
              th(scope="col") Level
              th(scope="col") Sites
          tbody
            each user in users
              tr
                each val in user
                  td= val
      .row.justify-content-center
        .col-auto
          h2 Add User
      .row.align-items-center
        .col-lg-4
        .col-lg-4
          form(action="/register" method="post")
            .row.justify-content-center.py-2
              label.col-lg-3.col-form-label(for="username") Username
              .col-lg-9
                input.form-control(type="text" id="username" name="username" placeholder="Username")
            .row.justify-content-center.py-2
              label.col-lg-3.col-form-label(for="email") Email
              .col-lg-9
                input.form-control(type="text" id="email" name="email" placeholder="ploni@shmoni.com")
            .row.justify-content-center.py-2
              label.col-lg-3.col-form-label(for="password") Password
              .col-lg-9
                input.form-control(type="password" id="password" name="password" placeholder="********")
            .row.justify-content-center.py-2
              .col-auto
                button.btn.btn-primary(type="submit") Create User
        .col-lg-4
  
  
