extends layout

block append styles
  link(rel="stylesheet" href="/css/easymde/easymde.min.css")

block append scripts
  script(src="/js/easymde/easymde.min.js")
  script(src="/js/editor.js")

block layout-content
  main.flex-shrink-0
    .container
      .row
        .col-md-3
          include filetree.pug
        .col-md-9
          h1 Editor
          textarea
  
