block append styles
  link(rel="stylesheet" href="/css/fancytree/skin-lion/ui.fancytree.min.css")

block append scripts
  script(src="/js/fancytree/jquery.fancytree-all-deps.min.js")
  script(src="/js/filetree.js")
  
h1 Files
div(id="tree")
