header
  nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
    .container-fluid
      a.navbar-brand(href="#") Repoco
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse(id="navbarSupportedContent")
        ul.navbar-nav.mx-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/edit") Edit
          li.nav-item
            a.nav-link(href="/help") Help
