extends layout

block layout-content
  div.View
    h1.Banner My Lovely Node/Express/Pug App
    div.Message
      div.Title
        h3 Nothing Really Matters
        h1 Everything's Going To Be Alright
      span.Details Now Make This Into Something Good
    div.NavButtons
      a(href="/")
          div.NavButton This Button Does Nothing
