extends layout

block layout-content
  main.flex-shrink-0
    .container
      h1 Repoco
      p If logged in, this page should redirect to the dashboard.
      p If not logged in, this page should provide a log in form.
  
  
